body, html {
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(to bottom, #87e0fd 0%, #05e081 100%);
    height: 100%;
    color: rgb(79, 79, 79)
}


.active {
  color: black;
  box-shadow: 0px 2px 0px black;
}

nav ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 20px;
  margin-top: 40px;
}

nav ul a{
  text-decoration: none;
  color: black;
  box-shadow: 0px 2px 0px transparent;
}

.weather-card{
  display: flex;
  width: auto;
  margin-left: 30vw;
  margin-right: 30vw;
  margin-top: 2vh;
  margin-bottom: 10vh;
  padding: 20px;
}

.search-card{
  display: flex;
  width: auto;
  margin-left: 30vw;
  margin-right: 30vw;
  margin-top: 5vh;
  margin-bottom: 3vh;
  padding: 20px;
  justify-content: center;

}

.city-search-input{
  width: auto;
  display: flex;
  align-items: flex-end;
}

search-form{
  width: 100%;
}
  

.weather-city{
  font-size: 2em;
}

.weather-country{
  font-size: 1.5em;;
}

.weather-card-temp{
  display: flex;
  justify-self: flex-end;
  font-size: 2em;
}

.weather-card-icon{
  width: 1000px;
  max-width: 40%;
  display: flex;
  justify-content: center;
}
.weather-card-icon-wrapper{
  justify-content: center;
}

.location-wrapper{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.weather-card-icon-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-name{
  font-family: 'Rubik', sans-serif;
  font-size: 2em;
  margin-bottom: 3px;
  color: #9c27b0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.weather-now{
  margin-left: 5px;
}

.future-release-card{
  display: flex;
  width: auto;
  margin-left: 30vw;
  margin-right: 30vw;
  margin-top: 5vh;
  margin-bottom: 3vh;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
}

.future-release{
  font-size: 1.5em;
  margin-bottom: 3px;
}
.description-2{
  font-size: 1em;
}